/tools/packmen_us_extraido
/tool_edicao_texto/arquivos-extracao/*.u16
/tool_edicao_texto/arquivos-extracao/*.txt
/tool_edicao_texto/arquivos-extracao/*.u16_novo
/tool_edicao_texto/extraido_colunas.txt
/tool_revisao_traducao/extraido_revisao.txt
/tool_revisao_traducao/extraido_revisao08.txt
/tool_revisao_traducao/extraido_revisao09.txt
/tool_revisao_traducao/extraido_revisao10.txt
/tool_revisao_traducao/extraido_revisao11.txt
/tool_revisao_traducao/extraido_revisao12.txt
/tool_revisao_traducao/extraido_revisao13.txt
/tool_revisao_traducao/extraido_revisao14.txt
/tool_revisao_traducao/extraido_revisao01.txt
/tool_revisao_traducao/extraido_revisao02.txt
/tool_revisao_traducao/extraido_revisao03.txt
/tool_revisao_traducao/extraido_revisao04.txt
/tool_revisao_traducao/extraido_revisao05.txt
/tool_revisao_traducao/extraido_revisao06.txt
/tool_revisao_traducao/extraido_revisao07.txt
