/tools/packmen_us_extraido
/tool_edicao_texto/arquivos-extracao/*.u16
/tool_edicao_texto/arquivos-extracao/*.txt
/tool_edicao_texto/arquivos-extracao/*.u16_novo
/tool_edicao_texto/extraido_colunas.txt
/tool_revisao_traducao/extraido_revisao.txt
